@model List<CourseViewModel>
<h1>Catalogo dei corsi</h1>

@foreach(CourseViewModel course in Model)
{
    <div class="row">
        <div class="col-md-1"><img src="@course.imagePath" width="52" height="52"></div>
        <div class="col-md-5"><h2>@course.title</h2><author>@course.author</author></div>
        <div class="col-md-2 rating">
            @for(int i=1; i<=5; i++)
            {
                if(course.rating >=i)
                {
                    <i class="fas fa-star"></i>
                }
                else if (course.rating >i-1)
                {
                    <i class="fas fa-star-half-alt"></i>
                }
                else
                {
                    <i class="far fa-star"></i>
                }
            }
        </div>
        <div class="col-md-2 price">EUR @course.currentPrice<br /><s>EUR @course.fullPrice</s></div>
        <div class="col-md-2 d-flex align-items-center"><a  class="btn btn-outline-primary" asp-action="Detail" asp-route-id="@course.idCourse">Dettaglio</a></div>
    </div>
}

   